<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/app.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/img/logo.png" class="navbar-brand" href="#"></img>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Menu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Offers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="d-flex justify-content-center">

<div class="d-flex flex-row">
<img src="/img/hero-pizza.png" class="img-fluid" alt="hero-pizza">
<div class="d-flex flex-column justify-content-center">
<h1>Are you hungry?</h1>
<a href="#" class="btn btn-warning text-light" width="100px" height="100px">Order now</a>
<p>Don't wait</p>
</div>
<!-- <a href="#" class="btn btn-danger" width="100px" height="100px">Order now</a> -->
</div>
</div>
<h1 class="ml-4 mt-5">All Pizzas</h1>
<div class="row">
  <div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <div class="mdb-lightbox">
<div class="d-flex flex-row bd-highlight mb-3 mt-3">
      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(145).jpg" data-size="1600x1067">
          <img alt="picture" src="/img/pizza.png" class="img-fluid">
        </a>
          <h4>Margherita</h4>
          <h3 class="text-justify btn btn-primary">Small</h3>
                <a class="btn btn-warning stretched-link mb-2 text-light">+ Add</a>
                <p class="btn btn-info mt-2">200 $</p>
      </figure>

      <figure class="col-md-4">
        <a href="/img/pizza.png" data-size="1600x1067">
          <img alt="picture" src="/img/pizza.png" class="img-fluid" />
        </a>
          <h4>Margherita</h4>
          <h3 class="text-justify btn btn-primary">Small</h3>
            <a class="btn btn-warning stretched-link mb-2 text-light">+ Add</a>
              <p class="btn btn-info mt-2">200 $</p>
      </figure>

      <figure class="col-md-4">
        <a href="/img/pizza.png" data-size="1600x1067">
          <img alt="picture" src="/img/pizza.png" class="img-fluid" />
        </a>
          <h4>Margherita</h4>
          <h3 class="text-justify btn btn-primary">Small</h3>
                  <a class="btn btn-warning stretched-link mb-2 text-light">+ Add</a>
                  <p class="btn btn-info mt-2">200 $</p>
      </figure>
</div>

<div class="product-container d-flex flex-row bd-highlight mb-3 mt-3">
      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" data-size="1600x1067">
          <img alt="picture" src="/img/pizza.png" class="img-fluid" />
        </a>
          <h4>Margherita</h4>
          <h3 class="text-justify btn btn-primary">Small</h3>
                <a class="btn btn-warning stretched-link mb-2 text-light">+ Add</a>
                <p class="btn btn-info mt-2">200 $</p>
      </figure>

      <figure class="col-md-4">
        <a href="/img/pizza.png" data-size="1600x1067">
          <img alt="picture" src="/img/pizza.png" class="img-fluid" />
        </a>
          <h4>Margherita</h4>
          <h3 class="text-justify btn btn-primary">Small</h3>
            <a class="btn btn-warning stretched-link mb-2 text-light">+ Add</a>
            <p class="btn btn-info mt-2">200 $</p>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" data-size="1600x1067">
          <img alt="picture" src="/img/pizza.png" class="img-fluid" />
        </a>
          <h4>Margherita</h4>
          <h3 class="text-justify btn btn-primary">Small</h3>
              <a class="btn btn-warning stretched-link mb-2 text-light">+ Add</a>
              <p class="btn btn-info mt-2">200 $</p>
      </figure>
</div>
<div class="product-container d-flex flex-row bd-highlight mb-3 mt-3">
      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(148).jpg" data-size="1600x1067">
          <img alt="picture" src="/img/pizza.png" class="img-fluid" />
        </a>
          <h4>Margherita</h4>
          <h3 class="text-justify btn btn-primary">Small</h3>
              <a class="btn btn-warning stretched-link mb-2 text-light">+ Add</a>
              <p class="btn btn-info mt-2">200 $</p>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" data-size="1600x1067">

          <img alt="picture" src="/img/pizza.png" class="img-fluid" />
        </a>
                <h4>Margherita</h4>
                <h3 class="text-justify btn btn-primary">Small</h3>
                  <a class="btn btn-warning stretched-link mb-2 text-light">+ Add</a>
                  <p class="btn btn-info mt-2">200 $</p>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(149).jpg" data-size="1600x1067">
          <img alt="picture" src="/img/pizza.png" class="img-fluid" />
        </a>
        <h4>Margherita</h4>
        <h3 class="text-justify btn btn-primary">Small</h3>
        <a class="btn btn-warning stretched-link mb-2 text-light">+ Add</a>
        <p class="btn btn-info mt-2">200 $</p>
      </figure>
</div>
    </div>

  </div>
</div>
<script src="app.js">

</script>
